/* Universal Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* === Custom Properties === */

:root {
    font-size: 62.5%;                                       /* This makes 1rem equivalent to 10px*/

    --ff-primary: 'Roboto', sans-serif;                     
    --ff-secondary: 'Montserrat', sans-serif;               /* ff stands for "font family" */
  
    --fw-logo: 700;
    --fw-regular: 400;                                      /* fw stands for "font weight" */
    --fw-bold: 500;
  
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray1: hsl(0, 0%, 20%);
    --clr-gray2: hsl(0, 0%, 31%);
    --clr-gray3: hsl(0, 0%, 51%);
    --clr-gray5: hsl(0, 0%, 88%);
    --clr-accent: hsl(233, 90%, 64%);
    --clr-accent2: hsla(249, 100%, 64%, 0.1);
  
    --fs-h1: 6.4rem;                                          /* fs stands for "font size" */
    --fs-h2: 5.6rem;
    --fs-h4: 2.4rem;
    --fs-h5: 1.8rem;
    --fs-h6: 1.5rem;
    --fs-body: 1.6rem;
}

@media only screen and (max-width: 768px) {
    section {
        padding: 13rem;
    }
}

@media only screen and (max-width: 320px) {
    :root {
      --fs-h1: 4rem;
      --fs-h2: 4rem;
    }

    section {
        padding: 2rem;
    }
}



/* === General Styles === */

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background: var(--clr-white);
    color: var(--clr-gray2);
    margin: 0;
    padding: 0;
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    line-height: 3rem;
}

section {
    padding: 12rem;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 6.4rem;
    gap: 1rem;
    max-width: 25.7rem;
    height: 5.4rem;
    background-color: var(--clr-accent);
    border-radius: 6rem;
    cursor: pointer;
}

.button:hover {
    background-color: #7181FC;
}

.button:active {
    background-color: #354BF4;
}

.button:disabled {
    background-color: var(--clr-gray5);
}

.button span {
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.4rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
    color: var(--clr-white);
}

.button:disabled span {
    color: var(--clr-gray3);
}

input:focus {
    border: 1px solid var(--clr-gray3);
}

input:invalid:focus {
    border: none;
    outline: 1px solid #EB5757;
}

input:valid:focus {
    border: none;
    outline: 1px solid #0EAC00;
}

/* input:focus:focus {
    border: none;
    border: 1px solid var(--clr-gray3);
} */




/* === Typography === */

h1,
h2,
h4,
h5,
h6 {
    font-family: var(--ff-primary);
    color: var(--clr-gray1);
    margin: 0;
}

h1 {    
    font-size: var(--fs-h1);
    line-height: 7.2rem;
    font-weight: var(--fw-bold);
}

h2 {    
    font-size: var(--fs-h2);
    line-height: 6.6rem;
    font-weight: var(--fw-bold);
}

h4 {    
    font-size: var(--fs-h4);
    line-height: 2.9rem;
}

h5 {    
    font-size: var(--fs-h5);
}

h6 {    
    font-size: var(--fs-h6);
    line-height: 1.6rem;
}

.logo {
    color: var(--clr-gray1);
    font-weight: var(--fw-logo);
    text-decoration: none;
    font-family: var(--ff-primary);
}

.logo:hover {
    color: var(--clr-gray1);
    text-decoration: none;
    cursor: pointer;
}



/* ==== Nav bar ==== */

.top_header {
    position: relative;
    max-width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: var(--ff-primary)
}

header .top_logo_container {
    margin-left: 12rem;
    margin-right: 5.7rem;
}

header .nav_desktop {
    margin-right: 31.3rem;
}

header .nav_desktop_list {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    gap: 3.2rem;
    padding: 0;
    margin: 0;
}

header .nav_item {
    flex: 0 0 auto;
}

header .nav_link {
    color: var(--clr-gray1);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

header .nav_link:hover {
    color: var(--clr-gray1);
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--fw-bold);
}

header .nav_mobile {
    display: none;
}

header .desktop_language {
    height: 4rem;
    width: 8rem;
    padding: 1rem 1.6rem;
    margin-right: 2.4rem;
    border: 1px solid #000000;
    border-radius: 6rem;
}

header .language_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 4.8rem;
    height: 2rem;
}

header .language_list .language_item {
    flex: 0 0 auto;
    font-size: var(--fs-h6);
}

header #downwards_arrow {
    align-self: center;
    cursor: pointer;
}

header .sign-in-button {
    width: 16.7rem;
    height: 4rem;
    padding: 1.1rem 1.8rem;
    margin-right: 6rem;
}

header .sign-in-button span {
    display: inline-block;
    max-width: 100%;
    height: 1.4rem;
    font-size: 1.4rem;
}


/* Hamburger toggle */

.nav-toggle {
    display: none;
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 4rem;
    margin-left: 4.8rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 100;
    padding: 0;
}

.hamburger {
    display: block;
    position: absolute;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    background-color: var(--clr-gray1);
    width: 1.8rem;
    height: 2px;
    left: 0;
    right: 0;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


@media only screen and (max-width: 1440px) {
    .top_header {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .top_header {
        justify-content: flex-end;
    }

    .top_logo_container, .nav_desktop, .desktop_language {
        display: none;
    }

    header .sign-in-button {
        margin-right: 0;
    }

    .nav-toggle {
        display: block;
    }
}

/* ==== Main content ==== */

main {
    position: relative;
    /* top: 8rem; */
    width: 100%;
}

/* Hero section */

.hero {
    width: 100%;
    min-height: 72rem;
    background-color: var(--clr-accent2);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero .intro {
    margin-left: 12rem;
    margin-right: 13.3rem;
}

.hero .intro .intro_title {
    width: 58.5rem;
    height: 14.4rem;
}

.hero .intro aside {
    width: 48.3rem;
    margin: 3.2rem 0 4.8rem 0;
}

.hero .intro .intro_additional_info {
    font-size: var(--fs-body);
    color: var(--clr-gray2);
    margin: 0;
    padding: 0;
}

.hero .chart {
    max-width: 48.2rem;
    height: 51.9rem;
    margin-right: 12rem;
}

@media only screen and (max-width: 768px) {
    .hero {
        padding: 1.4rem 1.4rem 0 1.4rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .hero .intro {
        margin: 0;
        margin-bottom: 3.2rem;
    }

    .hero .intro .intro_title {
        width: 68.8rem;
        text-align: center;
    }

    .hero .intro aside {
        width: 50.8rem;
        margin: 0 auto;
        margin-top: 3.2rem;
        margin-bottom: 4.8rem;
        font-weight: var(--fw-regular);
        font-size: var(--fs-h5);
    }

    .hero .intro .intro_additional_info {
        text-align: center;
        font-weight: var(--fw-regular);
        font-size: var(--fs-h5);
    }

    .hero .intro_button {
        margin: 0 auto;
    }

    .hero .chart {
        margin: 0;
        margin-bottom: 2.4rem;
    }
}

/* Instructions section */

.instructions {
    padding: 14rem 22.2rem 3rem 12rem;
}

.instructions header {
    width: 48.3rem;
    height: 13.2rem;
}

.instructions header .highlight {
    background-color: var(--clr-accent2);
}

.instructions_container {
    width: 100%;
}

.instructions_list {
    list-style: none;
    margin: 6rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instruction_item {  
    margin-bottom: -3rem;
} 

.instruction_body {
    position: relative;
    max-width: 48.3rem;
    padding: 3.2rem;
    border: 2px solid var(--clr-accent);
    border-radius: 3rem;
}

.left_trail > .instruction_body::before {
    content: "";
    position: absolute;
    width: 82.5rem;
    height: 10rem;
    border-top: 3px dotted var(--clr-accent);
    border-left: 3px dotted var(--clr-accent);
    border-top-left-radius: 3rem;
    top: -10.3rem;
    left: 25rem;
}

.right_trail > .instruction_body::after {
    content: "";
    position: absolute;
    width: 82.5rem;
    height: 10rem;
    border-top: 3px dotted var(--clr-accent);
    border-right: 3px dotted var(--clr-accent);
    border-top-right-radius: 3rem;
    top: -10.2rem;
    left: -59.5rem;
}

.left_item {
    align-self: flex-start;
}

.right_item {
    align-self: flex-end;
}

.instruction_item .number span {
    line-height: 1.8rem;
    font-size: var(--fs-h6);
    font-family: var(--ff-primary);
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
}

.instruction_item .instruction_title {
    margin: 0.8rem 0 2.4rem 0;
}

.instruction_item .instruction_details {
    max-width: 41.9rem;
}

.instruction_item .instruction_details p {
    margin: 0;
}

@media only screen and (max-width: 1440px) {
    .left_trail > .instruction_body::before {
        content: "";
        width: 38rem;
        top: -10.3rem;
        left: 23.5rem;
    }
    
    .right_trail > .instruction_body::after {
        content: "";
        width: 37rem;
        top: -10.2rem;
        left: -13.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .instructions {
        padding: 12rem 4rem 3rem 4rem;
    }

    .instructions header {
        width: 41.9rem;
    }

    .instruction_item {  
        margin-bottom: -7rem;
    }

    .instruction_body {
        max-width: 32.9rem;
    }

    .left_trail > .instruction_body::before {
        content: "";
        width: 19.5rem;
        top: -10.3rem;
        left: 16rem;
    }
    
    .right_trail > .instruction_body::after {
        content: "";
        width: 19.5rem;
        top: -10.2rem;
        left: -3.2rem;
    }
}


/* Quotes section */

.quotes {
    padding: 14rem 12rem 0 12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.quotes .quotes_title {
    width: 48.3rem;
    height: 13.2rem;
    margin-right: 13.2rem;
    align-self: flex-start;
}

.quotes .quotes_title .highlight {
    background-color: var(--clr-accent2);
}

/* Quote container */

.quote_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 58.5rem;
    height: 25.5rem;
    position: relative;
}

.quote_author {
    width: 58.5rem;
    padding: 0;
    margin-bottom: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote_author .qoute_author_picture {
    width: 7.3rem;
    height: 7.3rem;
    margin-right: 3rem;
}

.quote_author .qoute_author_picture img {
    width: 100%;
    border-radius: 100%;
}

.quote_author_details {
    width: 48.2rem;
    height: 5.7rem;
}

.quote_author_details .quote_author_name {
    width: 100%;
    font-weight: var(--fw-bold);
}

.quote_author_details .quote_author_position {
    margin: 0;
    line-height: 2.7rem;
}

.quote_sign {
    position: absolute;
    top: 10.7rem;
    left: -5rem;
    width: 3.5rem;
    height: 3rem;
}

.quote_sign span {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.quote_text {
    width: 58.5rem;
    min-height: 11.6rem;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-gray1);
    line-height: 2.9rem;
}

.quote_text p {
    margin: 0;
    width: 100%;
    font-family: var(--ff-primary);
    font-size: var(--fs-h4);
    font-weight: var(--fw-bold);
    color: var(--clr-gray1);
    line-height: 2.9rem;
}

.quote_number {
    width: 7.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--ff-primary);
}

.quote_number .selected_quote_number,
.quote_number #number_separator,
.quote_number .total_quotes_number {
    /* width: 100%; */
    font-weight: var(--fw-bold);
    font-size: var(--fs-h6);
    color: var(--clr-accent);
    line-height: 1.8rem;
}

.arrow_container {
    width: 4.8rem;
    height: 4.8rem;
    border: 1px solid var(--clr-gray5);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.arrow_container span {
    width: 1.2rem;
    padding: 0;
    line-height: 1.2rem;
}

.arrow_container span svg {
    width: 100%;
}

.left_arrow {
    position: absolute;
    top: 17.9rem;
    left: -103rem;
}

.right_arrow {
    position: absolute;
    top: 17.9rem;
    left: -96.6rem;
    border-color: var(--clr-accent);
}

@media only screen and (max-width: 768px) {
    .quotes {
        padding: 12rem 4rem 0 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
    }

    .quotes .quotes_title {
        width: 50.9rem;
        height: 13.2rem;
        margin-bottom: 4.8rem;
        margin-right: 0;
        align-self: flex-start;
    }

    .quote_container {
        align-items: center;
        width: 100%;
        height: 36.5rem;
        position: relative;
    }

    .quote_author {
        width: 14.9rem;
        padding: 0;
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote_author .qoute_author_picture {
        margin-right: 0;
    }

    .quote_author_details {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .quote_sign {
        position: static;
        width: 3.5rem;
        height: 3rem;
        margin-bottom: 1.6rem;
    }

    .quote_text {
        width: 50.8rem;
        text-align: center;
        margin-bottom: 3.2rem;
    }

    .left_arrow {
        position: absolute;
        top: 15rem;
        left: 0;
    }
    
    .right_arrow {
        position: absolute;
        top: 15rem;
        left: unset;
        right: 0;
    }
}


/* Questions container */

.questions_container {
    position: relative;
    padding: 14rem 12rem;
    margin: 0;
    min-height: 109.7rem;
}

.questions_container_title {
    width: 48.3rem;
    height: 13.2rem;
    margin-bottom: 6rem;
}

.questions_container_title .highlight {
    background-color: var(--clr-accent2);
}

.questions_list_container {
    margin: 0 auto;
    padding: 0;
    max-width: 99.5rem;
    min-height: 89.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
}

.questions_list_container .question {
    border: 2px solid var(--clr-accent);
    border-radius: 2rem;
    width: 100%;
    padding: 3.2rem 4rem;
}

.question header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13.3rem;
}

.question header .question_title {
    width: 75rem;
    font-weight: var(--fw-bold);
}

.question header .question_button_container {
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.question_button_container .question_button {
    display: inline-block;
    margin: 0 auto;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    font-size: 3rem;
    color: var(--clr-gray1);
    text-align: center;
}

.question_button_container .question_opened {
    transform: rotate(45deg);
}

.question .question_body {
    width: 75rem;
    min-height: 10.8rem;
    margin-top: 2.4rem;
}

.question .question_body p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: 2.7rem;
    color: var(--clr-gray2);
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .questions_container {
        position: relative;
        padding: 12rem 4rem;
        min-height: 109.7rem;
    }

    .questions_container_title {
        width: 50.9rem;
        height: 13.2rem;
        margin-bottom: 4.8rem;
    }

    .question .question_body {
        width: 55.8rem;
        min-height: 10.8rem;
    }    
}


/* Contact container */

.contact_container {
    width: 100%;
    min-height: 73.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-accent2);
}

.contact_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 48.3rem;
    min-height: 49.9rem;
}

.contact_header {
    margin: 0;
    margin-bottom: 3.2rem;
    width: 30.2rem;
    line-height: 6.6rem;
}

.contact_header .contact_title {
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    margin: 0;
}

.contact_intro {
    width: 48.3rem;
    min-height: 9rem;
    padding: 0;
    margin: 0;
    margin-bottom: 4.8rem;
}

.contact_intro p {
    width: 100%;
    font-size: var(--fs-h5);
    font-weight: var(--fw-regular);
    color: var(--clr-gray2);
    margin: 0;    
}

.contact_details {
    padding: 0;
    margin: 0;
    width: 48.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact_details p {
    width: 100%;
    line-height: 2.7rem;
    font-weight: var(--fw-regular);
    margin: 0;
    margin-bottom: 2.4rem;
}

.contact_details h6 {
    font-weight: var(--fw-bold);
    margin-bottom: 0.8rem;
}

.contact_details .phone_detail,
.contact_details .email_detail,
.contact_details .address_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 48.3rem;
}

.contact_details .phone_detail,
.contact_details .email_detail {
    margin-bottom: 1.6rem;
}

.contact_details .phone_detail p,
.contact_details .email_detail p,
.contact_details .address_detail p {
    margin: 0;
}


/* Contact form */

.contact_form {
    background-color: var(--clr-white);
    max-width: 58.5rem;
    min-height: 47.1rem;
    border: 2px solid var(--clr-accent);
    border-radius: 2rem
}

.contact_form form {
    width: 100%;
    height: 100%;
    padding: 8rem;
}

.contact_form .contact_form_name,
.contact_form .contact_form_email,
.contact_form .contact_form_text {
    width: 42.5rem;    
    border: 1px solid var(--clr-gray5);
    border-radius: 3px;
    padding: 0.7rem 1.6rem;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-regular);
    font-size: var(--fs-body);
    color: var(--clr-gray3);
    line-height: 2.6rem;
}

.contact_form .contact_form_name,
.contact_form .contact_form_email {
    height: 4rem;
    margin-bottom: 2.4rem;
}

.contact_form .contact_form_text {
    margin-bottom: 4rem;
}

.contact_form button {
    width: 17.2rem;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.4rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    color: var(--clr-white);
    border: none;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .contact_container {
        width: 100%;
        min-height: 73.9rem;
        padding: 4.8rem 13rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: var(--clr-accent2);
    }

    .contact_description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 50.8rem;
        min-height: 49.9rem;
        margin-bottom: 4.8rem;
    }

    .contact_form {
        max-width: 50.8rem;
        min-height: 47.1rem;
    }

    .contact_form form {
        padding: 8rem 4.15rem;
    }
}



/* ==== Footer content ==== */
.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 3.2rem 12rem;
}

.footer_container section {
    padding: 0;
}

.footer_upperContainer {
    display: grid;
    grid-template-areas:
        "logo information disclaimer nav";
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    gap: 0;
    width: 100%;
}

.bottom_logo_container {
    grid-area: logo;
    margin-right: 16rem;
}

.bottom_logo_container .logo {
    font-family: var(--ff-primary);
    font-size: var(--fs-h6);
    font-weight: var(--fw-bold);
    line-height: 1.6rem;
}

.footer_information_container {
    grid-area: information;
    margin-right: 3rem;
}


.footer_disclaimer_container {
    grid-area: disclaimer;
    margin-right: 9.6rem;
}

.footer_information_container header,
.footer_disclaimer_container header {
    width: 38rem;
}

.footer_information_container header h5,
.footer_disclaimer_container header h5 {
    line-height: 3rem;
    font-size: var(--fs-h5);
    font-weight: var(--fw-bold);
}

.footer_information_container .footer_information_text,
.footer_disclaimer_container .footer_disclaimer_text {
    width: 100%;
}

.footer_information_container .footer_information_text p,
.footer_disclaimer_container .footer_disclaimer_text p {
    margin: 0;
    max-width: 38rem;
    line-height: 2.7rem;
    font-weight: var(--fw-regular);
}

.footer_nav_container {
    grid-area: nav;    
}

.footer_nav_container .footer_nav_list {
    padding: 0;
    width: 100%;
    min-height: 21.6rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_nav_list .nav_link {
    color: var(--clr-gray1);
    text-decoration: none;
    font-weight: var(--fw-bold);
}

.footer_copyright_container {
    width: 100%;
    margin-top: 5rem;
}

.footer_copyright_container .copyright_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright_list .copyright_item {
    line-height: 2.7rem;
    color: var(--clr-gray3);
    font-weight: var(--fw-regular);
}

@media only screen and (max-width: 768px) {
    .footer_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        padding: 6.2rem 4rem 4.8rem 4rem;
    }

    .footer_upperContainer {
        grid-template-areas:
            "logo"
            "nav"
            "information"
            "disclaimer";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        gap: 0;
        width: 100%;
        align-content: center;
        align-items: center;
    }

    .footer_nav_container {
        margin-bottom: 4rem;
    }

    .footer_nav_container .footer_nav_list {
        min-height: 1.6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bottom_logo_container {
        margin-right: unset;
        justify-self: center;
    }

    .footer_information_container,
    .footer_disclaimer_container {
        margin-right: 0;
        margin-bottom: 3.2rem;
    }

    .footer_information_container header,
    .footer_disclaimer_container header {
        width: 50.8rem;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 1.6rem;
    }

    .footer_information_container .footer_information_text,
    .footer_disclaimer_container .footer_disclaimer_text {
        width: 50.8rem;
        margin: 0 auto;
    }

    .footer_information_container .footer_information_text p,
    .footer_disclaimer_container .footer_disclaimer_text p {
        width: 50.8rem;
        margin: 0 auto;
    }
    
    .footer_copyright_container {
        width: 100%;
        margin: 0 auto;
        margin-top: 0.8rem;
    }
    
    .footer_copyright_container .copyright_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.6rem;
    }

    .copyright_list .copyright_item {
        text-align: center;
    }
}